<div class="col-md-12">
    <div class="card">
        <h5 class="card-header bg-primary">
            Log In
        </h5>
        <div class="card-body">
            {{#if loginFail}}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                You could not be logged in with that username or password.
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>