<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-primary">
                Add Session Data
            </h5>
            <div class="card-body">
                <form action="/addData" method="POST">
                    <div class="form-group">
                        <label for="dataName">Name:</label>
                        <input type="text" class="form-control" name="name" id="dataName" required>
                    </div>
                    <div class="form-group">
                        <label for="dataValue">Value:</label>
                        <input type="text" class="form-control" name="value" id="dataValue" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header">
                Existing Data
            </h5>
            <div class="card-body">
                {{#if data}}
                <form action="/removeData" method="POST">
                    <table class="table table-striped table-responsive w-100 d-block d-sm-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{value}}</td>
                                <td><input class="checkbox-inline" type="checkbox" name="toRemove" value="{{name}}"></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">Remove selected</button>
                    </div>
                </form>
                {{else}}
                <p class="card-text">None</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>